.mobile_home {
}

.mobile_home .ads_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 5px;
  
}

.mobile_home .end-reached {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mobile_home .load_more_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
  width: 100%;
}