.banner {
  box-sizing: border-box;
  padding: 40px;
  width: 80%;
  position: relative;
  height: 400px;
  margin: 0px auto;
}

.banner .main {
  background: #1c82d8;
  bottom: 0;
  height: 75%;
  left: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  padding: 40px 60px;
  box-sizing: border-box;
  width: 100%;
  flex-direction: column;
}

.banner > img {
  position: absolute;
  top: 0;
  right: 0;
  height: 400px;
}

.banner .main h1 {
  margin: 0;
  color: var(--fg);
  font-size: 30px;
  width: 650px;
}

.banner .main p {
  font-size: 18px;
  margin: 10px 0;
  width: 650px;
  color: var(--fg);
}

.banner .buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.banner .main .buttons .appstore {
  height: 60px;
  object-fit: contain;
}

.banner .main .buttons .playstore {
  height: 88px;
  object-fit: contain;
  margin-top: -14px;
}
