.info_page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(16deg, var(--blue) 50%, #fff 50.1%);
  margin-bottom: -40px;
}

.info_page .main {
  height: fit-content;
  width: 800px;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 120px;
  padding-top: 60px;
  box-sizing: border-box;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 1px 1px 8px #1112, -1px -1px 8px #1112;
  text-align: center;
}

.info_page h1 {
  font-weight: 500;
  margin: 0;
  font-size: 28px;
}
.info_page .main img {
  height: 60px;
}
