.steps {
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #1114;
  width: 100%;
  height: 50px;
  background-color: white;
  margin-top: 20px;
}
.steps .step {
  flex: 1;
  /* padding: 40px; */
  padding-left: 50px;
  font-size: 18px;
  font-family: var(--font1);
  font-weight: 600;
  display: flex;
  gap: 12px;
  width: 25%;
  position: relative;
  min-width: 25%;
  align-items: center;
  transition: all 0.3s var(--bc);
  box-sizing: border-box;
  cursor: pointer;
  box-sizing: border-box;
}
.steps .step span {
  font-size: 28px;
  font-weight: 700;
  color: var(--blue);
  transition: all 0.3s var(--bc);
}

.step .bg {
  content: "";
  height: 500px;
  width: 500px;
  background: white;
  position: absolute;
  z-index: -1;
  transform: rotate(45deg);
  right: 80px;

  box-shadow: 5px -5px 0px var(--blue);
}
.step.selected,
.step:hover,
.step.selected span,
.step:hover span {
  color: white;
}

.step:last-child .bg {
  border: none;
}

.step.selected .bg,
.step:hover .bg {
  content: "";
  height: 500px;
  width: 500px;
  background: var(--blue);
  position: absolute;
  z-index: -1;
  box-shadow: 6px -6px 0px white;
  transform: rotate(45deg);
}
