.search_main {
  background: var(--fg);
  height: 90px;
  margin-top: 80px;
  display: flex;
  padding: 30px 10% 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 300;
}

.search_page .nav {
  box-shadow: none;
}
.search_inp ._dropdown .selected > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.search_inp ._dropdown .option img,
.search_inp ._dropdown .option svg {
  max-height: 34px;
  width: 34px;
  margin: -4px;
  fill: black !important;
  object-fit: fill;
}
.search_inp ._dropdown .selected > div img,
.search_inp ._dropdown .selected > div svg {
  /* height: 32px; */
  width: 36px;
  object-fit: fill;
  fill: black !important;
}

.search_main .search_inp {
  display: flex;
  flex: 1 1;
  min-width: 800px;
  height: 70px;
  background: #fff;
  gap: 10px;
  border-radius: 5px;
  align-items: center;
  filter: drop-shadow(0px 0px 5px #1115);
  z-index: 10;
}
.search_main ._dropdown {
  background: var(--fg);
  border-radius: 5px;
  color: #000;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: 30px;
  padding: 15px 10px;
  align-items: center;
  z-index: 10;
  width: 320px;
  filter: none;
  border-color: white !important;
}
.search_main ._dropdown .selected {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  padding-left: 10px;
  height: 100%;
  font-family: var(--font1);
}

.search_page .search_results_header ._dropdown .selected > div {
  display: flex;
  justify-content: end;
  gap: 8px;
  font-weight: 500;
  font-size: 22px;
}

.search_page .search_results_header hr {
  border: 3px solid #777;
  border-radius: 50%;
}
.search_page .search_results_header .count {
  color: #777;
  font-family: var(--font1);
  font-weight: 500;
}

.search_main ._dropdown .selected > div svg {
  height: 30px;
  height: 30px;
  fill: var(--blue);
}

.search_main ._dropdown .options {
  background: var(--fg);
  /* padding: ; */
  width: calc(100% + 24px);
  border-radius: 5px;
  transform: scaleY(0);
  transition: all 0.3s var(--bc);
  opacity: 0;
  transform-origin: top center;
  min-height: unset;
  overflow: unset;
  position: relative;
  top: 24px;
  z-index: 5;
}
.search_main ._dropdown .options::-webkit-scrollbar {
  display: none;
}

.search_main ._dropdown .options .option {
  padding: 12px 20px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: start;
}

.search_main .search_inp > hr {
  height: 60%;
  border-left: 1px solid #1113;
  margin-left: -8px;
}

.search_main .search_inp input {
  flex: 4;
  border: none;
  height: 100%;
  outline: none;
  padding: 10px 0px;
  box-sizing: border-box;
  font-size: 21px;
  font-family: var(--font1);
  font-weight: 500;
  margin-left: -8px;
}

.search_main .search_inp button {
  height: 100%;
  border: none;
  background-color: var(--blue);
  box-sizing: border-box;
  font-size: 24px;
  width: 150px;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all 0.3s var(--bc);
  font-family: var(--font1);
  cursor: pointer;
}
.search_main .search_inp button:hover {
  background-color: var(--blue-dark);
}
.search_main .location {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  gap: 4px;
  box-sizing: border-box;
  background: var(--fg);
  padding: 16px;
  filter: drop-shadow(0px 0px 5px #1115);
  border: 1px solid var(--blue);
  border-radius: 5px;
  width: 360px;
  cursor: pointer;
}

.search_main .location span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.search_main .location_name {
  flex: 1;
}
.search_main .location hr {
  border-color: #444;
}
.search_main .location svg {
  height: 25px;
  width: 25spx;
  fill: var(--blue);
}
.search_main .search_inp svg {
  height: 28px;
  width: 28px;
  fill: var(--blue);
}

.search_main .arrow svg {
  height: 26px;
  width: 26px;
  fill: currentColor !important;
}

.search_page .search_tabs {
  display: flex;
  gap: 12px;
  padding: 0;
  background: transparent;
  width: 100%;
  overflow-x: auto;
  padding-bottom: 12px;
  padding-top: 20px;
  padding-right: 150px;
  filter: drop-shadow(0px 0px 4px #1115);
  box-sizing: border-box;
}
/* .search_page .search_tabs::-webkit-scrollbar {
  display: none;
} */

.search_page .tabs_wrapper {
  margin: 0;
  padding: 4px 10% 10px;
  background: #fff;

  z-index: 12;
}

.search_page::-webkit-scrollbar {
  display: none;
}

.search_page .search_tab {
  padding: 8px 16px;
  border: 1px solid var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.3s var(--bc);
  background: white;
  height: 40px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--font1);
}
.search_page .search_tab.active {
  background-color: var(--blue);
  color: #fff;
  /* font-weight: 600; */
}

.search_page .search_tab:hover {
  background-color: var(--blue);
  color: #fff;
}

.search_page .search_tab.add {
  padding: 10px;
  height: 40px;
  min-width: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: var(--blue);
  color: white;
  overflow: hidden;
  transition: all 0.2s var(--bc);
  white-space: nowrap;
  margin-right: -150px;
}
.search_page .search_tab.add svg {
  fill: white;
  position: relative;
  left: -2px;
}
.search_page .search_tab.add:hover {
  width: 146px;
  min-width: 146px;
}
.search_page .search_tab svg {
  fill: var(--blue);
  height: 24px;
  width: 24px;
  margin: -4px 0 -6px;
}
.search_page .search_tab:hover svg {
  fill: #fff;
}
.search_page .search_tab.active svg {
  fill: #fff;
}

.search_page .search_tab button {
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  margin-right: -6px;
  cursor: pointer;
  transition: all 0.3s var(--bc);
}

.search_page .search_tab button svg {
  height: 22px;
  width: 22px;
}

.search_page .search_tab p {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* height: 20px; */
  margin: 0;
  padding: 0;
}

.search_page .search_tab pre {
  margin: 0;
  font-size: inherit;
  font-family: var(--font2);
}

.search_page .search_content {
  padding: 20px 0 0;
  display: flex;
  width: 80vw;
  gap: 24px;
  align-items: flex-start;
  max-width: 80vw;
  margin: AUTO;
}

.search_page .filters {
  display: flex;
  flex-direction: column;

  gap: 16px;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 4px #1115);
  min-width: 340px;
  max-width: 340px;
  position: sticky;
  top: 10px;
}

.search_page .filters .filter {
  background: white;
  padding: 16px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.search_page .search_results hr {
  border: none;
  margin: 20px;
}
.search_page .filters .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: 20px;

  height: fit-content;
}

.search_page .filters .field h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  font-family: var(--font1);
}

.search_page .filters .filter .slider input {
  width: 100%;
}
.search_page .filters .filter .field input {
  width: 100%;
  height: 32px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  gap: 5px;
  position: relative;
  border: none;
  flex: 1 1;
  outline: none !important;
  font-weight: 600;
  font-size: 18px;
  font-family: var(--font1);
  filter: none !important;
  background: white;
  background-color: var(--blue);
  color: white;
}
.search_page .filters .filter .field .input_container {
  max-width: 150px;
  filter: drop-shadow(0px 0px 2px #1116);
  background-color: var(--blue);
  color: white;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: baseline;
  gap: 2px;
  padding: 0px 8px;
}
.search_page .filters .filter .field .input_container > span {
  text-align: left;
}
.search_page .filters hr {
  border: 1px solid #eee;
  width: 100%;
  border-radius: 10px;
  display: none;
}

.search_page .filters .heading {
  display: flex;
  font-size: 24px;
  gap: 8px;
  justify-content: start;
  align-items: center;
  font-weight: 600;
}
.search_page .filters .heading svg {
  height: 32px;
  width: 32px;
  fill: var(--blue);
}

.search_page .search_results_header {
  font-size: 18px;
  filter: drop-shadow(0px 0px 4px #1115);
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
}
.search_page .search_results h2 {
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
  gap: 4px;
}
.search_page .search_results h2 svg {
  height: 28px;
  width: 28px;
  fill: var(--blue);
}

.search_page .search_results_header p span {
  font-weight: 500;
  color: var(--blue);
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
  white-space: NOWRAP;
  flex: 1;
  max-width: calc(300px + 20vw);
}

.search_page .search_results {
  width: 100%;
}

.search_page .search_results_header {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.search_page .search_results_header > div {
  display: flex;
  gap: 12px;
  margin-left: auto;
}

.search_page .search_results_header ._dropdown {
  display: flex;
  padding: 8px 16px;
  box-sizing: border-box;
  border-radius: 5px;
  background: white;
  border: 1px solid var(--blue);

  width: 250px;
  height: 50px;
  justify-content: space-between;
  transition: all 0.3s var(--bc);
  cursor: pointer;
}
.search_page .search_results_header ._dropdown .options {
  top: 16px;
}
.search_page .search_results_header ._dropdown .selected > div,
.search_page .filter ._dropdown .selected > div {
  font-size: 18px;
  color: black;
  font-weight: 400;
}

.search_page .search_results_header .sort_by:hover {
  border-color: var(--blue);
}
.search_page .search_results_header .sort_by .selected > div,
.search_page .filter ._dropdown .selected > div {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.search_page .search_results_header .sort_by .selected {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 8px;
}

.search_page .search_results_header .sort_by .selected h2 {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}
.search_page .search_results_header .sort_by .selected p {
  margin: 0;
}

.search_page .search_results_header .display_type {
  display: flex;
  height: 50px;
  gap: 10px;
}
.search_page .search_results_header .display_type > div {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: white;
  border: 1px solid white;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 16px;
  gap: 8px;
  overflow: hidden;
  cursor: pointer;
  font-family: var(--font1);
  font-size: 16px;
  font-weight: 500;
  color: white;
  transition: all 0.3s var(--bc);
}
.search_page .search_results_header .display_type > div svg {
  position: relative;
  left: -3px;
  fill: black;
}
.search_page .search_results_header .display_type > div.active {
  border: 1px solid var(--blue);
  background-color: var(--blue);
}
.search_page .search_results_header .display_type > div:hover {
  border: 1px solid var(--blue);
  background-color: var(--blue);
  width: 134px;
  gap: 0;
}
.search_page .search_results_header .display_type > div.active svg {
  fill: #fff;
}
.search_page .search_results_header .display_type > div:hover svg {
  fill: #fff;
}

.search_page .search_results_header .save_search {
  height: 50px;
  width: 50px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  background: white;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s var(--bc);
  font-weight: 500;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 16px;
  font-size: 16px;
  gap: 8px;
  overflow: hidden;
  font-family: var(--font1);
  color: white;
}
.search_page .search_results_header .save_search:hover,
.search_page .search_results_header .save_search.active {
  background-color: var(--blue);
  border-color: var(--blue);
}
.search_page .search_results_header .save_search:hover {
  color: #fff;
  width: 150px;
  gap: 0px;
}
.search_page .search_results_header .save_search.active:hover {
  width: 110px;
}
.search_page .search_results_header > p {
  margin: 0;
  font-weight: 500;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 18px;
  padding: 12px;
  background: white;
  flex: 1;
  color: #333;

  border-radius: 5px;
  width: 100%;
}

.search_page .search_results_header .save_search svg {
  height: 26px;
  width: 26px;
  min-height: 26px;
  min-width: 26px;
  fill: black;

  transition: all 0.1s var(--bc);
  position: relative;
  left: -4px;
}

.search_page .search_results_header .save_search:hover svg,
.search_page .search_results_header .save_search.active svg {
  stroke: transparent;
  fill: white;
}

input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
  /*  slider progress trick  */
  overflow: hidden;
  border-radius: 16px;
  filter: drop-shadow(0px 0px 2px #1116);
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 20px;
  /* background: #eee; */
  border-radius: 20px;
  box-sizing: border-box;
  border: 1px solid var(--blue);
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: 18px;
  /* background: #eee; */
  border-radius: 18px;
  box-sizing: border-box;

  border: 1px solid var(--blue);
  /* overflow: hidden; */
  /* border-left-color: #fff;
  border-right-color: #fff; */
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 18px;
  width: 18px;
  background-color: white;
  border-radius: 50%;
  border: 4px solid var(--blue);
  box-sizing: border-box;
  /* position: relative; */
  top: -1px;

  /*  slider progress trick  */
  /* filter: drop-shadow(0px 0px 4px #1114); */
  box-shadow: -407px 0 0 400px var(--blue);
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 8px;
  width: 8px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid var(--blue);
  /*  slider progress trick  */
}
.search_page .filters input[type="date"] {
  height: 50px;
  border: 1px solid #fff;
}

.search_page .term {
  padding: 8px 20px;
  background: #fff;
  border: 1px solid var(--blue);
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  flex: 1 1;
  transition: all 0.2s var(--bc);
  cursor: pointer;
  font-family: var(--font1);
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s var(--bc);
  white-space: nowrap;
  max-width: 100%;
}
.search_page .filters ._dropdown {
  filter: none !important;
}
.search_page .filters ._dropdown .selected > div span {
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  top: -12px;
  left: 0;
  color: var(--blue);
}
.search_page .filters ._dropdown .selected > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 30px;
  font-size: 18px;
  top: 6px;
}
.search_page .filters ._dropdown .options {
  min-height: fit-content;
  overflow: hidden;
}
.search_page .filters ._dropdown .selected .arrow {
  top: 2px !important;
}
.search_page .term:hover {
  background-color: var(--blue);
  color: #fff;
}
.search_page .term.active {
  background-color: var(--blue);
  color: #fff;
}

.search_page .terms {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  flex-wrap: wrap;

  max-height: 196px;
  overflow-y: auto;
  overflow-x: visible;
  padding-right: 10px;
  filter: drop-shadow(0px 0px 4px #1115);
}

.search_page .terms::-webkit-scrollbar,
.search_page .search_tabs::-webkit-scrollbar {
  width: 7px;
  display: block !important;
  transition: all 0.3 var(--bc);
  display: block;
  filter: none;
  height: 7px;
}

.search_page .terms::-webkit-scrollbar-track,
.search_page .search_tabs::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
  min-width: 7px;
  display: block !important;
  height: 7px;
  transition: all 0.3 var(--bc);
  /* border: 1px solid var(--blue); */
}

.search_page .terms::-webkit-scrollbar-thumb,
.search_page .search_tabs::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  display: block !important;

  border-radius: 5px;
  transition: all 0.3 var(--bc);
  min-width: 7px;
  height: 7px;
}

.search_page .filter ._dropdown {
  height: 20px;
  flex: 1;
}

.search_page .filters .apply button {
  height: 100%;
  flex: 1;
  border: 1px solid var(--blue);
  border-radius: 5px;
  box-shadow: 0px 0px 8px #1113;
  font-size: 20px;

  font-family: var(--font2);
  cursor: pointer;
  transition: all 0.3s var(--bc);
}
.search_page .filters .apply button:hover {
  background-color: var(--blue-dark);
  color: white;
}

.search_page .filters div.apply {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  height: 48px;
  margin: 40px 0 0;
}

.search_page .filters button.apply {
  background-color: var(--blue);
  color: white;
}

.search_page .filters button.reset {
  background-color: white;
  color: var(--blue);
}
@media (max-width: 1600px) {
  .search_main {
    padding: 30px 5% 0;
  }
  .search_page .tabs_wrapper {
    padding-right: 5%;
    padding-left: 5%;
  }
  .search_page .search_content {
    width: 90vw;
    max-width: 90vw;
  }
}
